[<strong>@User.Identity.Name</strong>]
<a href="@Url.Action(MVC.Account.ActionNames.Logout, MVC.Account.Name, new { Area = string.Empty})" title="@Library.Web.Properties.Resources.Views.Logout" class="glyphicon glyphicon-off"></a>
